.name-style {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  margin-right: 0px;
  white-space: nowrap;
  width: 120px;
}
.table-modal {
  border-collapse: collapse;
  border-spacing: 0 10px;
}
