/* a {
  text-decoration: none;
  color: #a81f1f;
  font-size: 30px;
} */
.container {
  position: relative;
}
.sub-nav {
  width: 174px;
  position: relative;
  display: flex;
}
.sub-nav:hover .link-page:hover {
  background-color: #a81f1f;
  color: white;
}
.link-page {
  text-decoration: none;
  color: rgb(209, 99, 37);
  font-size: 35px;
  padding-top: 2px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.link-page:hover {
  color: white;
}
.banner {
  width: 100%;
  height: 387px;
  margin-bottom: 5px;
  position: relative;
}
.banner-pic {
  width: 100%;
  height: 100%;
  position: absolute;
}
.sub-menu {
  display: flex;
  justify-content: center;
}
.cover-menu {
  flex-direction: column;
}
.card-title {
  font-weight: 500;
  font-size: 35px;
  font-family: "Grandstander", cursive;
  padding-left: 29px;
  padding-top: 11px;
}
.card-text {
  color: #fff;
  font-size: 300;
  padding: 8px;
}
.card-content-1 {
  width: 275px;
  height: 351px;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.card-content-2 {
  position: relative;
  overflow: hidden;
  width: 338px;
  height: 171px;
  margin-left: 12px;
  background-size: cover;
}
.card-content-3 {
  position: relative;
  overflow: hidden;
  width: 395px;
  height: 171px;
  margin-left: 12px;
  background-size: cover;
}
.card-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 86%;
}
.card-content-1 .card-title,
.card-content-2 .card-title,
.card-content-3 .card-title {
  position: relative;
  width: max-content;
  color: white;
}
.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-left: 29px;
  background: var(--clr-accent-400);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}
.card-content-1:hover .card-title::after,
.card-content-2:hover .card-title::after,
.card-content-3:hover .card-title::after {
  transform: scaleX(1);
}
.card-cover {
  width: 100%;

  position: absolute;
  z-index: 1;
  transform: translateY(0);
  transition: transform 700ms ease;
  background-color: rgb(0, 0, 0, 0.45);
}
.card-content-1:hover .card-cover,
.card-content-2:hover .card-cover,
.card-content-3:hover .card-cover {
  transform: translateY(-62%);
}
.main-container {
  height: 100%;
}
.header {
  margin: auto;
  height: 80px;
  width: 916px;
  background-color: rgb(255, 255, 158);
  flex-direction: none;
}
.card-container {
  width: 1229px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  margin: auto;
  margin-top: 26px;
  width: 204px;
  height: 289px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}
.card:hover {
  box-shadow: -0.05px -0.05px 22px 5px #e4dddd;
  transform: scale(1, 1.1);
  box-shadow: 0 0 0.2;
}
.card-img img {
  border-radius: 2% 2% 0 0;
}
.card-img{
  height: 186px;
}
.card-body {
  margin-right: auto;
  margin-left: auto;
  margin-top: 7px;
}
.body-title {
  font-weight: 300;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
  line-height: 1;
  font-size: 25px;
}
.body-price {
  font-weight: 400;
  color: #a81f1f;
  font-size: 35px;
  text-align: center;
}
.body-title,
.body-price {
  padding-left: 8px;
  padding-right: 8px;
}
.rec.rec-carousel-item {
  width: 217px;
}
.rec.rec-pagination {
  display: none;
}
.rec.rec-arrow {
  border-radius: 10%;
  margin: 0 10px;
}
.rec.rec-carousel-item .rec.rec-item-wrapper {
  display: contents;
}
.rec.rec-carousel {
  height: 389px !important;
}
/* square buttons */
.rec.rec-arrow {
  box-shadow: none;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 10%;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}
.rec.rec-slider-container {
  margin: 0;
}
.Home-Title {
  text-align: center;
  background-color: antiquewhite;
  margin: 60px 132px 0 124px;
  height: 76px;
  border-radius: 10px;
  color: rgb(209, 99, 37);
  position: relative;
}
.title-home-body {
  height: 75px;
  position: absolute;
  width: 100%;
}
.btn-submit {
  padding: 10px;
  margin-left: 7px;
  width: 116px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  border: none;
  font-family: "Grandstander", cursive;
  background-color: wheat;
}
