.side-menu .main-menu .menu-item {
  color: #333;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-weight: 600;
  line-height: normal;
}
.side-menu .main-menu {
  margin: 5px 0;
}
.side-menu .main-menu .menu-item .menu-icon {
  display: inline-block;
  width: 12px;
  height: 26px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.side-menu .main-menu .menu-item span {
  position: absolute;
  display: inline-block;
  line-height: 0.7;
  opacity: 1;
  transition: opacity 500ms ease-in;
  padding-top: 15px;
}
.side-menu .main-menu .menu-item.active {
  background: rgb(224, 224, 224);
  border-radius: 5px;
}
.side-menu.inactive .main-menu .menu-item span {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}