@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.container-Signup {
  font-family: "Nunito", sans-serif;
  display: block;
  width: 100%;
  min-height: 100vh;
}
.title-Signup {
  font-size: 50px;
  font-weight: bold;
  background-color: #ffefd5;
  color: #f78248;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 20px;
}

.wrapper-signup {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

.Info-form {
  background-color: #fffee3;
  width: 350px;
  min-height: 400px;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 100px;
}

.title-form {
  text-align: center;
  color: coral;
  padding-top: 20px;
}

.name,
.email,
.password,
.Gender,
.phone {
  margin: 10px;
  color: #969292;
  font-size: 16px;
}

.Address-form {
  background-color: #fffee3;
  width: 350px;
  min-height: 400px;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 10px;
}

.cus-address,
.cus-city,
.cus-district,
.cus-ward {
  margin: 10px;
  color: #969292;
  font-size: 16px;
}