/* @import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
body, .App {
  margin: 0;
  padding: 0;
  height: 90vh;
  font-family: 'Dongle', sans-serif;
}
p, h1, h2, h3, h4, h5{
  line-height: 1;
}
p{
  font-weight: lighter;
}
a{
  font-size: 20px;
}
h1{
  font-size: 80px;
}
h2{
  font-size: 50px;
  font-weight: 300;
}
label{
  font-size: 30px;
}
h3{
  font-size: 30px;
}