/* @import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
body, .App {
  margin: 0;
  padding: 0;
  height: 90vh;
  font-family: 'Roboto', sans-serif;
}

p{
  font-weight: lighter;
}
a{
  font-size: 15px;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
  font-weight: 300;
}
label{
  font-size: 20px;
}
h3{
  font-size: 15px;
}