.modal-dialog{
  max-width: 839px !important;
}
.react-bootstrap-table {
  background-color: white;
}
.btn-edit, .btn-delete, .btn-view, .btn-add{
  outline: none;
  border: 0;
  margin-right: 11px;
  padding: 5px;
  border-radius: 5px;
  padding: 4px 14px;
}
.primary-color {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  margin-right: 10px;
  -webkit-appearance: none;
}
.primary-color::-webkit-color-swatch-wrapper {
  padding: 0;
}
.primary-color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.btn-add{
  background-color: #3EA4ED;
  color: white;
  padding: 6px 14px;
}
.btn-add span{
  margin-left: 8px;
}
.btn-delete{
  background-color: red;
  color: white;
}
.btn-edit{
  background-color: green;
  color: #fff;
}
.btn-view{
  background-color: transparent;
  padding: 0px;
}
.hearder{
  position: relative;
}
.hearder .btn{
  position: absolute;
  top: 0;
  right: 0;
}