tr td{
  /* width: 193px; */
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  word-break: normal;
  overflow: hidden;
}
.btn-edit, .btn-delete, .btn-view, .btn-add{
  outline: none;
  border: 0;
  margin-right: 11px;
  padding: 5px;
  border-radius: 5px;
  padding: 4px 14px;
}
.btn-add{
  background-color: #3EA4ED;
  color: white;
  padding: 6px 14px;
}
.btn-delete{
  background-color: red;
  color: white;
}
.btn-edit{
  background-color: green;
  color: #fff;
}
.btn-view{
  background-color: transparent;
  padding: 0px;
}
.hearder{
  position: relative;
}
.hearder .btn{
  position: absolute;
  top: 0;
  right: 0;
}