h1{
  font-size: 80px;
  font-weight: bold;
}
.side-menu{
  width: 272px;
  margin-left: 75px;
  background-color: white;
  border-right: 1px solid #ccc;
  display: inline-block;
  
}
.side-menu{
  margin-top: 10px;
  padding-right: 20px;
}
ul{
  padding: 0;
}
li{
  list-style: none;
  padding-left: 10px;
  border-radius: 2px;
  padding-top: 7px;
}

.user-account-info{
  display: flex;
  padding-left: 11px;
}
.img-profile{
  width: 30%;
  height: 50px;
  border-radius: 50%;
  background-color: aqua;
}
.profile-title{
  width: 100%;
  padding-left: 5px;
  padding-top: 7px;
}
.in{
  font-size: 20px;
  margin-bottom: 0;
}
.name-cus{
  font-size: 25px;
  line-height: 0.5;
}
.main-right{
  margin-left: auto;
  margin-right: 83px;
  width: 908px;
}
.main-right-title{
  padding-left: 20px;
}
.btn-view{
  background-color: transparent;
  padding: 4px 14px;
  border: 1px solid #cdcdcd;
  margin-top: 0 !important;
}
.btn-edit{
  background-color: green;
  color: #fff;
}
.btn-edit, .btn-view{
  outline: none;
  border: 0;
  margin-top: 11px;
  border-radius: 5px;
  padding: 4px 14px;
  font-size: 25px;
}
.table>:not(caption)>*>* {
  padding-top: 0;
  padding-bottom: 0;
}
.cusInfo {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}

.cusInfo td, .table-title {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  font-size: 25px;
  line-height: 1;
}
.table.table-light td, .table.table-light .table-title {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  font-size: 25px;
  line-height: 1;
}
.modal-header {
  padding: 1rem 1rem 0;
}
.Title-profile{
  margin-left: 93px;
  margin-top: 20px;
}