.btn-container{
  width: 425px;
  display: inline-block;
    text-align: end;
}

.td-label{
  font-size: 30px;
  text-align: end;
  color: #000;
  font-weight: 300;
  padding-right: 20px;
  padding-bottom: 20px;
}
.td-input{
  padding-bottom: 20px;
}
.name input[type=text], .phone input[type=number], .email input[type=email] {
  font-size: 30px;
  border: 1px solid #D8D3D0;
  border-radius: 2px 2px 2px 2px;
  margin: 0;
  color: #858585;
  height: 100%;
  padding: 0px 10px 0 10px;
  width: 421px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type=number]:focus, input[type=text]:focus, input[type=email]:focus{
  outline: 1px solid #ccc;
}